@model IEnumerable<Onit.Models.Area>

@{
    ViewData["Title"] = "Gestione Aree";
}

    <h1>Gestione Aree</h1>

<p>
    <a asp-action="CreateArea">Aggiungere Area</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codice)
            </td>          
        </tr>
}
    </tbody>
</table>
