@model Onit.Models.CustomArriviViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Arrivi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("SaveArrivi", "Arrivis", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Identificativo" class="control-label"></label>
                <input asp-for="Identificativo" class="form-control" />
                <span asp-validation-for="Identificativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatricolaCarello" class="control-label"></label>
                <input asp-for="MatricolaCarello" class="form-control" />
                <span asp-validation-for="MatricolaCarello" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class="form-control" asp-items="ViewBag.AreaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodiceLocazione" class="control-label"></label>
                <input asp-for="CodiceLocazione" class="form-control" />
                <span asp-validation-for="CodiceLocazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-block  btn-primary" type="submit" value="Submit" />
            </div>

        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

