
@{
    ViewData["Title"] = "Index";
}

    <h1> Identificazione merce in arrivo  </h1>

    <div class="container">
        <div class="master">
            <h2>Componenti del Carello</h2>
            <table class="table table-responsive">
                <tr>
                    <td> Data</td>
                    <td>
                        <input type="date" id="dataArrivo" class="form-control" />
                        <span class="error">Inserimento della data obligatorio (ex:MM-dd-yyyy)</span>
                    </td>
                </tr>
                <tr>
                    <td>Descrizione</td>
                    <td colspan="3">
                        <textarea id="descrizione" class="form-control"></textarea>
                        <span class="error">Inserimento della descrizione obligatorio (ex:MM-dd-yyyy)</span>
                    </td>
                </tr>
                <tr>
                    <td> Matricola</td>
                    <td>
                        <input type="text" id="dataArrivo" class="form-control" />
                        <span class="error"> Inserimento della matricola obligatorio </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="details">
            <h3> Posizione del carello</h3>
            <table class="table table-responsive">
                <tr>
                    <td>Area</td>
                    <td>Locazione</td>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    <td>
                        <select id="codiceArea" class="pc form-control" onchange="LoadLocazione(this)">
                            <option>Select</option>
                        </select>
                        <span class="error">Seleziona un area</span>
                    </td>
                    <td>
                        <select id="codiceLocazione" class="locazione form-control">
                            <option>Select</option>
                        </select>
                        <span class="error">Seleziona una locazione</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="details">
            <h3> Posizione del carello</h3>
            <table class="table table-responsive">
                <tr>
                    <td>Codice</td>
                    <td>Quantità</td>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    <td>
                        <select id="codiceComponente" class="pc form-control">
                            <option>Select</option>
                        </select>
                        <span class="error">Seleziona il codice della componente</span>
                    </td>
                    <td>
                        <input type="text" id="qty" class="qty form-control" />
                        <span class="error">Inserisci la quantità</span>
                    </td>
                    <td>
                        <input id="add" type="button" value="aggiungi" style="width:80px" class="btn btn-success" />
                    </td>
                </tr>
            </table>
            <div id="componentiDelCarello">
                <table class="table table-responsive" id="componentiDelCarello"></table>
                <span id="error" style="color:red"></span>
            </div>
            <div style="padding:10px 0; text-align:right">
                <input id="submit" type="button" value="Salva" class="btn btn-warning" style="padding:10px 20px" />
            </div>
        </div>  
    </div>

